body {
  background: linear-gradient(
    90deg,
    rgb(44, 83, 131) 0%,
    rgb(89, 165, 193) 100%
  );
  font-family: "Ubuntu", sans-serif;
}

header {
  margin: 30px auto;
}

header h1 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 22px;
  font-weight: 500;
}

p {
  text-align: center;
  color: white;
  margin: 10px;
}

p a {
  text-decoration: none;
  color: rgb(163, 218, 255);
}

p a:hover {
  text-decoration: underline;
}

p a:active {
  color: rgb(82, 186, 255);
}

.container {
  background: rgb(30, 30, 30);
  color: white;
  max-width: 700px;
  margin-top: 25px;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.3);
}

.search-bar,
.search-button {
  font-size: 22px;
  width: 425px;
  padding: 10px;
  max-width: 100%;
}

.search-button {
  width: 100px;
  padding: 12px 15px;
  border: none;
  border-radius: 35px;
  color: white;
  background: #2c5383;
  box-shadow: 3px 6px black;
  transition: all 150ms ease-in-out;
}

.search-button:hover {
  background: rgb(58, 111, 156);
}

.search-button:active {
  box-shadow: none;
  transform: translateY(6px);
}

.location-button {
  display: inline;
  width: 70px;
  padding: 16px 15px 11px;
  border: none;
  border-radius: 35px;
  color: white;
  background: #2c5383;
  box-shadow: 3px 6px black;
  transition: all 150ms ease-in-out;
}

.location-button:hover {
  background: rgb(58, 111, 156);
}

.location-button:active {
  box-shadow: none;
  transform: translateY(6px);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: white;
}

.current-weather-icon {
  width: 75px;
  position: relative;
  bottom: 5px;
  right: 5px;
}

.current-temp,
.current-weather-info {
  text-align: right;
}

.current-weather-info #weather-description {
  text-transform: capitalize;
}

.forecast {
  text-align: center;
  font-size: 20px;
  padding: 8px;
  border: 2px solid rgb(125, 125, 125);
  border-radius: 8px;
}

.forecast .day {
  font-weight: 500;
}

.forecast .icon {
  width: 60px;
}

.forecast .temp-low {
  color: rgb(125, 125, 125);
}
